@media all and (min-width: 576px) {
   .button-box--display {
      display: none;
   }
}
@media all and (min-width: 768px) {
   .btn-primary--section-5 {
      max-width: 480px;
   }
}
@media all and (min-width: 992px) {
   .button-box {
      display: flex;
      flex-flow: row;
   }

   /* Modife */
   .btn-primary--header {
      width: 180px;
      height: 45px;
      font-size: 16px;
      border-radius: 0.7em;
   }
   .btn-secondary--header {
      width: 90px;
      height: 45px;
      font-size: 16px;
      border-radius: 0.7em;
   }

   .btn-primary--section-5 {
      max-width: 300px;
   }
}
@media all and (min-width: 1200px) {
   /* Modife */
   .btn-primary--section-1 {
      height: 90px;
   }
}