@media all and (min-width: 576px) {
   .section-5__button-box {
      align-items: center;
   }
}


@media all and (min-width: 768px) {
   .section-5__title-1 {
      max-width: 620px;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 45px;
   }
   .step-box {
      max-width: 620px;
      margin: 0 auto;
      margin-bottom: 30px;
   }

}


@media all and (min-width: 992px) {
   .section-5__title-1 {
      max-width: 940px;
      margin-bottom: 60px;
      font-size: 50px;
   }
   .step-box {
      flex-flow: row;
      max-width: 940px;
      gap: 30px;
      margin-bottom: 60px;
   }
}


@media all and (min-width: 1200px) {
   .section-5__title-1 {
      max-width: 1160px;
      font-size: 60px;
   }
   .step-box {
      flex-flow: row;
      max-width: 1160px;
   }
}