.section-5 {
   contain: layout paint;
   padding: 60px 0;
}

.section-5__title-1 {
   max-width: 460px;
   margin-bottom: 30px;
}

.step-box {
   display: flex;
   flex-flow: column;
   max-width: 460px;
   margin-bottom: 40px;
   padding: 0 15px;
   gap: 50px;
}

.step {
   display: flex;
   flex-flow: column;
   gap: 15px;
}

.step__picture {
   width: 60px;
   height: 60px;
   border-radius: 15px;
   background-color: var(--color_baground);
}

.bullet {
   display: flex;
   flex-flow: column;
   gap: 20px;
}

.bullet__item {
   display: flex;
   align-items: flex-start;
   font: 400 18px/1.5 "Inter";
   gap: 10px;
}

.bullet__item::before {
   content: "";
   min-width: 5px;
   min-height: 5px;
   margin-top: 10px;
   border-radius: 50%;
   background-color: var(--color_text);
}

.step__mark {
   display: inline;
   color: rgb(9 97 246);
}

.section-5__button-box {
   align-items: center;
   justify-content: center;
}

@media all and (min-width: 576px) {
   .section-5__button-box {
      align-items: center;
   }
}

@media all and (min-width: 768px) {
   .section-5__title-1 {
      max-width: 620px;
      margin: 0 auto;
      margin-bottom: 40px;
      font-size: 45px;
   }

   .step-box {
      max-width: 620px;
      margin: 0 auto;
      margin-bottom: 30px;
   }
}

@media all and (min-width: 992px) {
   .section-5__title-1 {
      max-width: 940px;
      margin-bottom: 60px;
      font-size: 50px;
   }

   .step-box {
      flex-flow: row;
      max-width: 940px;
      margin-bottom: 60px;
      gap: 30px;
   }
}

@media all and (min-width: 1200px) {
   .section-5__title-1 {
      max-width: 1160px;
      font-size: 60px;
   }

   .step-box {
      flex-flow: row;
      max-width: 1160px;
   }
}
