.section-1 {
   overflow-x: hidden;
   margin-bottom: 60px;
   padding: clamp(3.75rem, 2.4563rem + 6.0878vw, 6.87rem) /* 30px - 110px */
      clamp(0.93rem, -0.2393rem + 5.5024vw, 3.75rem); /* 15px - 60px */
   border-radius: 20px;
   background-color: var(--color_primary);
}

.section-1__content {
   display: flex;
   flex-flow: column;
   margin-bottom: clamp(2.5rem, 1.4634rem + 4.878vw, 5rem);
   gap: 30px;
}

.section-1__img {
   height: auto;
   margin: 0 auto;
   border-radius: 20px;
   box-shadow: 0 4px 70px 0 rgb(27 27 40 / 10%);
}
@media all and (min-width: 576px) {
   .section-1 {
      margin-bottom: 80px;
   }
}
@media all and (min-width: 768px) {
   .section-1 {
      margin-bottom: 135px;
      padding-bottom: 300px;
   }

   .section-1__hero {
      position: absolute;
      left: 0;
      width: 100%;
   }

   .section-1__img {
      width: 615px;
   }
}
@media all and (min-width: 992px) {
   .section-1 {
      margin-bottom: 175px;
      padding-bottom: 450px;
   }

   .section-1__img {
      width: 940px;
   }
}
@media all and (min-width: 1200px) {
   .section-1 {
      margin-bottom: 240px;
      padding-bottom: 550px;
   }

   .section-1__img {
      width: 1160px;
   }
}
