.button-box {
   display: flex;
   flex-flow: column;
   gap: 10px;
}
.btn-primary {
   cursor: pointer;
   width: 100%;  
   max-width: 320px;
   height: 60px;
   font: var(--text_btn);
   color: var(--color_base);
   border-radius: 0.8em;
   background-color: var(--color_btn_primary);
   transition: all 0.1s linear;
}
.btn-primary:hover {
   background-color: var(--color_btn_primary_hover);
}
.btn-secondary {
   cursor: pointer;
   width: 100%;
   max-width: 320px;
   height: 60px;
   font: var(--text_btn);
   color: var(--color_text);
   border-radius:  0.8em;
   background-color: var(--color_btn_secondary);
   transition: all 0.1s linear;
}
.btn-secondary:hover {
   color: var(--color_base);
   background-color: var(--color_btn_secondary_hover);
}


/* Modife */
.btn-primary--section-1 {
   height: 80px;
   color: var(--color_base);
   font: 500 24px/1.5 'Inter';
}
.btn-primary--section-1:hover {
   color: var(--color_text);
   background-color: var(--color_base);
}

.btn-primary--section-5 {
   height: 80px;
   font: 500 24px/1.5 'Inter';
}

@media (min-width: 576px) {
   .button-box--display {
      display: none;
   }
}
@media (min-width: 768px) {
   .btn-primary--section-5 {
      max-width: 480px;
   }
}
@media (min-width: 992px) {
   .button-box {
      display: flex;
      flex-flow: row;
   }

   /* Modife */
   .btn-primary--header {
      width: 180px;
      height: 45px;
      font-size: 16px;
      border-radius: 0.7em;
   }
   .btn-secondary--header {
      width: 90px;
      height: 45px;
      font-size: 16px;
      border-radius: 0.7em;
   }

   .btn-primary--section-5 {
      max-width: 300px;
   }
}
@media (min-width: 1200px) {
   /* Modife */
   .btn-primary--section-1 {
      height: 90px;
   }
}