.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 50px;
   margin: 15px 0;
   padding: 0 15px;
   overflow: hidden;
}

/* Logo */
.logo,
.logo__img {
   display: block;
}

/* Burger menu */
.header__burger-checkbox {
   display: none;
}

.header__burger-label {
   position: fixed;
   right: 30px;
   z-index: 25;
   display: block;
   width: 50px;
   height: 50px;
   background-color: var(--color_baground);
   border-radius: 100px;
   cursor: pointer;
}

.header__burger-line {
   position: absolute;
   top: 14px;
   left: calc(50% - 14px);
   display: block;
   width: 28px;
   height: 3px;
   background-color: var(--color_text);
   border-radius: 3px;
   transition: all 0.2s linear;
}

.cover {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   width: 100%;
   height: 0;
   background-color: #1b1b28;
   visibility: hidden;
   opacity: 0;
}

.header__menu-container {
   position: fixed;
   top: 0;
   right: -100%;
   z-index: 20;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   width: 80%;
   height: 100%;
   padding: 80px 25px 25px;
   background-color: var(--color_base);
   visibility: hidden;
   transition: all 0.2s linear;
}

.burger-line-2 {
   top: 24px;
   opacity: 0;
}

.burger-line-3 {
   top: 24px;
}

.burger-line-4 {
   top: 34px;
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-1 {
   opacity: 0;
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-2 {
   transform: rotate(45deg);
   opacity: 1;
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-3 {
   transform: rotate(-45deg);
}

.header__burger-checkbox:checked ~ .header__burger-label .burger-line-4 {
   opacity: 0;
}

.header__burger-checkbox:checked ~ .cover {
   height: 100%;
   visibility: visible;
   opacity: 0.4;
   transition: opacity 0.1s linear;
}

.header__burger-checkbox:checked ~ .header__menu-container {
   right: 0;
   visibility: visible;
   transition: right 0.2s linear;
}

.header__nav-list {
   display: flex;
   flex-flow: column;
   gap: 15px;
   padding-bottom: 50px;
}

.header__nav-item {
   display: block;
   color: var(--color_text);
   font: var(--text_menu);
   transition: all 0.1s linear;
}

.header__nav-item:hover {
   color: var(--color_primary);
}

@media (min-width: 576px) {
   .header {
      contain: layout paint;
   }

   .header__burger-label {
      display: none;
   }

   .cover {
      display: none;
   }

   .header__menu-container {
      position: static;
      flex-flow: row;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 0;
      background-color: transparent;
      visibility: visible;
      transition: none;
   }

   .header__nav-list {
      display: flex;
      flex-flow: row;
      gap: 30px;
      padding-bottom: 0;
   }
}
@media (min-width: 992px) {
   .header {
      margin: 20px 0;
   }

   .header__menu-container {
      gap: 30px;
   }
}
@media (min-width: 1200px) {
   .header {
      padding: 0 45px 0 35px;
   }
}
