.title {
   font: var(--title);
}
.title-2 {
   font: var(--title_2);
}
.title-3 {
   font: var(--title_3);
}
.title--white {
   color: var(--color_base);
}


.subtitle {
   font: var(--subtitle);
}
.subtitle--white {
   color: var(--color_base);
}

.paragraf {
   font: var(--paragraf);
}