@media all and(min-width: 576px) {
   .footer__nav-list {
      flex-flow: row wrap; 
   }

   .nav-item__1 {
      flex: 0 0 calc(10% - 15px);
   }
   .nav-item__2 {
      flex: 1 0 calc(50% - 15px);
   }
}


@media all and(min-width: 768px) {
   .footer__content {
      max-width: 620px;
   }
   .footer__box-1 {
      display: flex;
      gap: 30px;
   }


   .footer__box-2 {
      order: 1;
   }
   .footer__social-box {
      order: 2;
   }
}


@media all and(min-width: 992px) {
   .footer__content {
      max-width: 940px;
   }
   .footer__box-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
   }

   .footer__box-2 {
      display: flex;
      flex-flow: row;
   }
   .footer__nav {
      flex: 1 0 50%;
      margin-bottom: 0px
   }
   .footer__text-box {
      flex: 1 0 50%;
   }
   .footer__social-box {
      order: 2;
      margin-bottom: 0px;
   }
}


@media all and(min-width: 992px) {
   .footer__content {
      max-width: 1160px;
   }
}