<footer class="footer">
   <div class="footer__content">
      <div class="footer__box-1">
         <div class="footer__social-box">
            <a class="footer__tg-link" href="https://t.me/teamlogs">
               <img class="footer__tg-img" src="/img/svg/telegram.svg" loading="lazy" alt="Телеграм" width="50" height="50" />
               <img class="footer__tg-img-2" src="/img/svg/telegram-hover.svg" loading="lazy" alt="Телеграм" width="50" height="50" />
            </a>
            <a class="footer__vk-link" href="https://vk.com/teamlogs">
               <img class="footer__vk-img" src="/img/svg/vk.svg" loading="lazy" alt="Вконтакте" width="50" height="50" />
               <img class="footer__vk-img-2" src="/img/svg/vk-hover.svg" loading="lazy" alt="Вконтакте" width="50" height="50" />
            </a>
         </div>
         <div class="footer__box-2">
            <nav class="footer__nav">
               <ul class="footer__nav-list">
                  <li class="footer__nav-item nav-item__1"><a href="/oferta.html">Оферта</a></li>
                  <li class="footer__nav-item nav-item__2"><a href="/privacy.html">Политика конфиденциальности</a></li>
                  <li class="footer__nav-item nav-item__3"><a href="/return.html">Правила оформления возврата денежных средств</a></li>
               </ul>
            </nav>
            <div class="footer__text-box">
               <address class="footer__city">Санкт-Петербург — Владивосток</address>
               <p class="footer__copy">© 2dlab, 2021. Все права защищены.</p>
            </div>
         </div>
      </div>
      <hr class="separator" />
      <p class="footer__company">ООО «ТУДИЛАБ», ОГРН 1202500014573, ИНН 2537144032</p>
   </div>
</footer>