<header class="header">
   <a class="logo" href="/">
      <img class="logo__img" src="/img/svg/logo.svg" alt="Логотип" width="180" height="35" />
   </a>
   <input class="header__burger-checkbox" id="checkbox" type="checkbox" />
   <label class="header__burger-label" for="checkbox">
      <span class="header__burger-line burger-line-1"></span>
      <span class="header__burger-line burger-line-2"></span>
      <span class="header__burger-line burger-line-3"></span>
      <span class="header__burger-line burger-line-4"></span>
   </label>
   <div class="cover"></div>
   <div class="header__menu-container">
      <nav class="header__nav">
         <ul class="header__nav-list">
            <li><a class="header__nav-item" href="#lang">Возможности</a></li>
            <li><a class="header__nav-item" href="#step">Как работает</a></li>
            <li><a class="header__nav-item" href="#price">Стоимость</a></li>
         </ul>
      </nav>
      <div class="button-box button-box--display">
         <button class="btn-primary btn-primary--header" type="button" onclick="location.href='https://teamlogs.2dlab.ru/upload'">Загрузить файл</button>
         <button class="btn-secondary btn-secondary--header" type="button" onclick="location.href='https://teamlogs.2dlab.ru/login'">Войти</button>
      </div>
   </div>
</header>