.section-2 {
   overflow: hidden;
   contain: layout paint;
}

.section-2__content {
   overflow: hidden;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   gap: 30px;
   max-width: 460px;
   margin: 0 auto;
   margin-bottom: 60px;
   padding: clamp(1.85rem, 1.0622rem + 3.7073vw, 3.75rem)  /* 30-60px */
            clamp(0.93rem, 0.0220rem + 4.2732vw, 3.12rem); /* 15-50px */
   padding-right: 0px;
   padding-bottom: 0px;
   border-radius: 20px;
   background-color: var(--color_baground);
}
.section-2__text {
   display: flex;
   flex-flow: column;
   gap: 15px;
}
.section-2__hero {
   margin-left: auto;
}
.section-2__img {
   height: auto;
   border-radius: 20px 0px 0px 0px;
   box-shadow: 0px 4px 70px 0px rgb(27 27 40 / 10%);
}