@media all and (min-width: 576px) {
   .section-2__content {
      max-width: 620px;
      margin-bottom: 80px;
   }
}
@media all and (min-width: 768px) {
   .section-2__img {
      width: 650px;
   }
}
@media all and (min-width: 992px) {
   .section-2__content {
      flex-flow: row;
      max-width: 940px;
      margin-bottom: 100px;
   } 
   .section-2__text {
      flex: 1 0 50%;
   }
   .section-2__img {
      width: 500px;
   }
}
@media all and (min-width: 1200px) {
   .section-2__content {
      max-width: 1160px;
      margin-bottom: 120px;
   }
   .section-2__text {
      flex: 1 0 40%;
   }
   .section-2__img {
      width: 650px;
   }
}