.main {
   max-width: 1160px;
   margin: 0 auto;
}

.header {
   margin: 30px 0;
}

.section {
   margin-bottom: 30px;
}

.title {
   color: var(--color__text);
   font: 700 25px/1.5 "Inter";
}

.title-2 {
   margin-bottom: 10px;
   color: var(--color__text);
   font: 600 16px/1.5 "Inter";
}

.paragraf {
   margin-bottom: 5px;
   color: var(--color__text);
   font: 400 16px/1.5 "Inter";
}

.paragraf-list,
.paragraf-list__item {
   margin-left: 15px;
   list-style-type: disc;
}

.paragraf-list {
   margin-bottom: 30px;
}

.footer {
   width: 100%;
   height: 80px;
}
