@media all and (min-width: 475px) {
   .box-7__img,
   .box-8__img,
   .box-9__img,
   .box-10__img {
      width: 340px;
   }
}



@media all and (min-width: 576px) {
   .section-4__content-1,
   .section-4__content-2 {
      max-width: 620px;
   }
   .section-4__title-1,
   .section-4__title-2 {
      max-width: 620px;
   }
}



@media all and (min-width: 768px) {
   .section-4__content-1,
   .section-4__content-2  {
      padding: 0px;
   }
   .section-4__content-2 {
      padding-bottom: 80px;
   }
   
   .section-4__title-1 {
      margin-bottom: 40px;
      padding: 0px;
   }
   .section-4__title-2 {
      margin-bottom: 25px;
   }
   .box-7__img,
   .box-8__img,
   .box-9__img,
   .box-10__img  {
      width: 400px;
   }

   .box-11,
   .box-12 {
      flex-flow: row;
      align-items: center;
   }
   /* Box 11 */
   .section-4__hero-box {
      flex: 1 0 calc(30% - 15px);
   }   
   .box-11__text {
      flex: 1 0 calc(70% - 15px);
   }

   /* Box 12 */
   .box-12__picture {
      flex: 1 0 calc(30% - 15px);
   }
   .box-12__text {
      flex: 1 0 calc(70% - 15px);
   }
}



@media all and (min-width: 992px) {
   .section-4__content-1,
   .section-4__content-2  {
      flex-flow: row wrap;
      max-width: 940px;
   }
   .section-4__content-2 {
      padding-bottom: 100px;
   }
   .section-4__title-1 {
      max-width: 940px; 
      margin-bottom: 50px;
   }
   .section-4__title-2  {
      max-width: 940px; 
      margin-bottom: 0px;
   }

   /* Box-7 */
   .box-7 {
      flex: 1 0 calc(50% - 15px);
   }
   .box-7__img {
      width: 500px;
   }

   /* Box 8 */
   .box-8 {
      padding: 30px 0px 0px 30px;
      flex: 1 0 calc(50% - 15px);
   }
   .box-8__picture {
      order: 2;
   }
   .box-8__img {
      width: 500px;
   }
   .box-8__text {
      order: 1;
   }

   /* Box 9 */
   .box-9 {
      flex-flow: row;
      padding: 30px 0px 30px 30px;
      flex: 1 0 calc(60% - 15px);
   }
   .box-9__picture {
      margin-top: -30px;
      order: 2;
   }
   .box-9__text {
      order: 1;
      padding-right: 0px;
   }

    /* Box 10 */
    .box-10 {
      flex: 1 0 calc(40% - 15px);
   }


   .section-4__title-2 {
      flex: 1 0 calc(5% - 15px);
   }

   /* Box 11 */
   .box-11 {
      flex-flow: column;
      align-items: flex-start;
      flex: 1 0 calc(35% - 15px);
   }
   .section-4__hero-box {
      flex: none;
   }
   .box-11__img {
      width: 90px;
      height: 90px;
   }
   .box-11__text {
      flex: none;
      padding-right: 0;
   }

   /* Box  12 */
   .box-12 {
      flex-flow: column;
      align-items: flex-start;
      flex: 1 0 calc(35% - 15px);
   }
   .box-12__picture {
      flex: none;
   }
   .box-12__img {
      width: 90px;
      height: 90px;
   }
   .box-12__text {
      flex: none;
      padding-right: 0;
   }
}



@media all and (min-width: 1200px) {
   .section-4__title-1 {
      max-width: 1160px; 
      margin-bottom: 60px;
   }
   .section-4__title-2  {
      max-width: 1160px; 
   }
   .section-4__content-1,
   .section-4__content-2 {
      max-width: 1160px;
   }
   .section-4__content-2 {
      padding-bottom: 120px;
   }


   .box--bg {
      padding: 50px 50px 50px 50px;
   }


   /* Boox 7 */
   .box-7 {
      padding: 0px 0px 50px 50px;
   }


   /* Box 8 */
   .box-8 {
      padding: 50px 0px 0px 50px;
   }
   .box-8__img  {
      width: 550px;
   }

   /* Box 9 */
   .box-9__picture {
      margin-top: 0px;
   }


  /* Box 10 */
   .box-10 {
      padding: 0px 0px 50px 50px;
   }

   .section-4__title-2 {
      flex: 1 0 calc(25% - 15px);
   }

  /* Box 11-12 */
   .box-11,
   .box-12 {
      padding: 50px;
   }

     /* Box 11 */
     .box-11,
     .box-12 {
      flex: 1 0 calc(37% - 15px);
   }
}